# System Files
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env

# Cache and log files
*.log
*.pot
*.pyc
__pycache__/
.pytest_cache/
.coverage

# Data
uploads/
static/
media/
postgres/
redis/

# Compiled output
dist/
tmp/
out-tsc/

# Dependencies
node_modules/

# Profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
yarn-error.log
testem.log
typings/
